@import "/src/common/styles/index";

.title {
	font-size: $textSize + 8px;
	font-weight: bold;
	letter-spacing: -0.2px;
}

.desc {
	font-size: $textSize - 2px;
	font-weight: normal;
	margin-top: 6px;
	margin-bottom: 18px;
}

.info-container {
	margin-top: 42px;
}