<footer class="footer-container">
    <div class="footer-wrapper">
        <a href="/"><img class="footer-logo" src="https://ls2020.cafe24.com/img/ls/logo.png"/></a>
        <nav class="fnb">
            <a href="/document/help">헬프 데스크</a>
            <a href="/document/code-of-conduct">LCOC</a>
            <a href="/document/terms">이용약관</a>
            <a href="/document/privacy">개인정보보호정책</a>
        </nav>
        <p class="footer-text">
            문의 이메일 biz@libertysquare.kr<br>
            ㈜ 자유광장 | 대표이사: 신현우 | 개인정보관리책임자: 신현우 | 사업자등록번호: 396-87-01750<br>
            통신판매업 신고번호: 2020-서울노원-0804 | 서울시 노원구 중계로 230, 506-402<br>
            대표전화 070-8098-7697 (문의는 이메일로 주세요.)
        </p>
    </div>
</footer>