@import '/src/common/styles/index';

.wrapper {
	width: 100%;
	margin-bottom: 16px;
	white-space: nowrap;
}

.flex {
	display: flex;
	flex-wrap: wrap;

	@include desktop {
		flex-wrap: nowrap;
	}

	& > *:not(:first-child) {
		margin-left: 10px;
	}
}

.hashtag-container {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
}