<link rel="stylesheet" type="text/css" href="https://ls2020.cafe24.com/css/flattop/document.css">
<div class="document-formatter">
	<!-- top -->
	<h1>광고 문의</h1>
	<p>
		자유광장과 플랫탑은<br>
		국내 최대 커뮤니티 포털을 꿈꾸는 서비스입니다.
	</p>
	<p>
		인터넷 문화에 가치를 더하고자 하는<br>
		다양한 광고 문의를 환영합니다.
	</p>
	<p>보내주신 문의는 자유광장의 광고 파트너사로 전달됩니다.</p>
	<mark>* 표시는 필수 기입 항목입니다.</mark>

	<!-- form -->
	<form>
		<!-- Inquiry -->
		<h2>문의 내용</h2>
		<label>제목 *</label>
		<input name="title" type="text" maxlength="255" autocomplete="off">

		<label>내용 *</label>
		<textarea name="content"></textarea>
		
		<!-- Information -->
		<h2>업체 정보</h2>
		<label>회사(기관)명 *</label>
		<input name="company" type="text" maxlength="255" autocomplete="off" class="medium">

		<label>제안자명 *</label>
		<input name="proponent" type="text" maxlength="45" autocomplete="off" class="medium">

		<label>직책</label>
		<input name="job_position" type="text" maxlength="45" autocomplete="off" class="medium">

		<label>전화번호 *</label>
		<input name="tel1" type="text" maxlength="4" autocomplete="off" class="small">
		<delimiter></delimiter>
		<input name="tel2" type="text" maxlength="4" autocomplete="off" class="small">
		<delimiter></delimiter>
		<input name="tel3" type="text" maxlength="4" autocomplete="off" class="small">

		<label>이메일 *</label>
		<input name="email" ype="email" maxlength="255" autocomplete="off" class="large">

		<label>홈페이지 주소</label>
		<input name="homepage" type="text" autocomplete="off" class="large">
		
		<label>사업자등록증 첨부</label>
		<div class="file">
			<input name="file" type="file" accept=".gif, .jpg, .jpeg, .png, .pdf">
			<button type="button">파일 선택</button>
			<span>(pdf, 이미지 파일)</span>
		</div>
		
		<!-- privacy agreement -->
		<h2>개인정보 수집 및 이용</h2>
		<div class="checkbox">
			<label>
				<input name="privacy" type="checkbox">
				<span>개인정보 수집 및 이용 동의 (필수)</span>
			</label>
		</div>
		<ul>
			<li>문의하신 내용에 대한 원활한 상담을 위해, 업체 정보(이름, 홈페이지, 사업자등록증), 담당자 정보(이름, 직책, 전화번호, 이메일)를 수집합니다.</li>
			<li>수집된 개인정보는 3개월간 보관되며, 이후 즉시 파기됩니다.</li>
			<li>수집된 개인정보는 업무 처리를 위해, 파트너사에 전달될 수 있습니다.</li>
			<li>자세한 내용은 개인정보처리방침을 참고하시기 바랍니다.</li>
		</ul>
			
		<!-- notice agreement -->
		<h2>유의사항</h2>
		<div class="checkbox">
			<label>
				<input name="notice" type="checkbox">
				<span>유의사항 확인 및 동의 (필수)</span>
			</label>
		</div>
		<ul>
			<li>보내주신 문의에 대해 검토 후, 질의드릴 내용이 있거나 진행이 결정될 경우에 한해 별도의 회신을 드립니다. 자유광장과 플랫탑은 접수된 문의에 대한 보상, 회신 등 어떠한 의무도 부담하지 않습니다.</li>
			<li>사업 제휴, 광고 집행 등의 목적과 무관한 문의, 담당자와의 면담 또는 사업 진행을 전제로 한 문의는 접수가 반려될 수 있습니다.</li>
			<li>제안하시는 아이디어, 사업 아이템 등은 이미 내부적으로 검토 및 진행 중인 내용이거나, 다른 단체, 기관, 개인이 앞서 제안한 내용일 수 있습니다. 그러므로 보내주신 내용에 특허, 디자인, 저작권 등 지적재산권이 포함되어 있다고 판단하실 경우, 제안자의 권리 보호를 위해 반드시 출원 등의 권리 확보 조치를 마친 후 제안해주시기 바랍니다.</li>
			<li>문의 내용 및 제안서에 포함된 내용에 대해서는 별도의 비밀유지협약을 체결하지 않으며, 영업 기밀에 대한 보안 의무를 지지 않으므로, 반드시 공개가 가능한 내용에 대해서만 포함해주시기 바랍니다.</li>
			<li>회신 이후 관련 논의가 진행되더라도, 이는 보내주신 제안과 관련한 약속이나 계약, 신규성, 독창성, 권리 등을 인정하는 것과는 관련이 없습니다.</li>
		</ul>
			
		<button type="submit">문의 접수하기</button>
	</form>
</div>
<script>
(function() {
	function isEndWithConsonant(korStr) {
		const finalChrCode = korStr.charCodeAt(korStr.length - 1);
		const finalConsonantCode = (finalChrCode - 44032) % 28;// 0 = 받침 없음, 그 외 = 받침 있음
		return finalConsonantCode !== 0;
	}

	const form = document.querySelector('form');

	const requireData = [
		[form.querySelector("input[name='title']"), '제목'],
		[form.querySelector("textarea[name='content']"), '내용'],
		[form.querySelector("input[name='company']"), '회사(기관)명'],
		[form.querySelector("input[name='proponent']"), '제안자명'],
		[form.querySelector("input[name='tel1']"), '전화번호'],
		[form.querySelector("input[name='tel2']"), '전화번호'],
		[form.querySelector("input[name='tel3']"), '전화버호'],
		[form.querySelector("input[name='email']"), '이메일'],
	];

	requireData[1][0].value = "1. 캠페인 내용\n\n2. 기간\n\n3. 예산";

	const requireCheckbox = [
		[form.querySelector("input[name='privacy']"), '개인정보 수집 및 이용 동의'],
		[form.querySelector("input[name='notice']"), '유의사항 확인 및 동의'],
	];

	const fileContainer = form.querySelector('.file');
	const FILE = {
		input: fileContainer.querySelector('input'),
		button: fileContainer.querySelector('button'),
		text: fileContainer.querySelector('span'),
	};
	FILE.button.addEventListener('click', function(event) {
		event.preventDefault();
		FILE.input.click();
	});
	FILE.input.addEventListener('change', function(event) {
		event.stopPropagation();

		if(!event.dataTransfer && event.originalEvent) {
			event.dataTransfer = event.originalEvent.dataTransfer;
		}
		
		const files = event.currentTarget.files || event.dataTransfer.files;
		const data = new FormData();
		if(files.length > 1) {
			alert('하나만 등록 가능합니다.');	
			event.preventDefault();
		} else if(files.length < 1) {
			FILE.text.textContent = '(pdf, 이미지 파일)';
		} else {
			const file = files[0];
			if(file.type.match(/(image.*)|(^.+\.pdf$)/)) {
				FILE.text.textContent = file.name;
			} else {
				alert("pdf, 이미지만 선택 가능합니다.");
				event.preventDefault();
			}
		}
	});

	const submit = form.querySelector("button[type='submit']");

	form.addEventListener('submit', function(event) {
		event.preventDefault();

		for(let data of requireData) {
			const elem = data[0];
			if(!elem.value) {
				const text = data[1];
				alert(text + (isEndWithConsonant(text) ? '을' : '를') + ' 입력해 주세요.');
				elem._scrollTop(true, false);
				return;
			}
		}

		for(let checkbox of requireCheckbox) {
			const elem = checkbox[0];
			if(!elem.checked) {
				const text = checkbox[1];
				alert(text + '를 체크해 주세요.');
				elem._scrollTop(true, false);
				return;
			}
		}

		const data = new FormData(form);
		const tel = data.get('tel1') + '-' + data.get('tel2') + '-' + data.get('tel3');
		data.append('tel', tel);
		data.delete('tel1');
		data.delete('tel2');
		data.delete('tel3');

		majax.load(document.body, '/ad', 'POST', data, 0, true)
			.then(function() {
				alert('광고 문의가 접수되었습니다.');
				location.reload();
			})
			.catch(function(xhr) {
				alert('광고 문의 접수에 실패하였습니다.\n잠시 후 다시 시도해 주세요.');
			});
	});
})();
</script>