<h1 class="document-header mobile">LibertySqaure Code of Conduct<br>(이용 가이드라인)</h1>
<h1 class="document-header mobile--hidden">LibertySqaure Code of Conduct (이용 가이드라인)</h1>

<section class="document-section">
	<p>
		<h3>자유광장은 행사의 주최자와 참가자가 아무런 어려움 없이 만날 수 있도록 다양한 기능을 제공하는 서비스입니다. 우리는 기술적인 편의성을 제공하는 것을 넘어 건강한 모임 문화가 확산될 수 있도록 돕고 싶습니다. 이에 따라 주최자와 참가자 모두 기본적으로 따라야 하는 LibertySqaure Code of Conduct(이하 LCOC) 가이드라인을 수립했습니다. 서로가 존중 받을 수 있는 기분 좋은 만남이 이루어질 수 있도록 주최자와 참가자 모두 다음 4가지 LCOC를 준수하며 자유광장을 이용해 주세요!</h3>
	</p>

	<article class="document-block">
		<h3>1. 위협적이거나 법률에 위반 되는 콘텐츠는 올릴 수 없습니다.</h3>
		<p>노골적인 성적 행위, 불법 도박, 불법 약물, 범죄 모의, 성적 폭력 미화 등과 관련된 행사 및 콘텐츠를 자유광장에 올릴 수 없습니다. 이 역시 관리자에 의해 즉시 제거될 수 있습니다.</p>
	</article>

	<article class="document-block">
		<h3>2. 사재기와 암표 판매 행위를 금지합니다.</h3>
		<p>참가자들은 동일한 기회를 가지고 행사에 참가 신청할 수 있기를 기대합니다. 자유광장은 이러한 기대를 충족시키기 위해 기술 / 운영적 방안을 수립함으로써 노력하고 있습니다. 사재기와 암표 판매 행위를 완전하게 방지하는 것은 어렵습니다. 따라서 행동강령으로서 금지합니다. 사재기와 암표 판매 행위가 적발될 시 주최자 뿐만 아니라 자유광장에서도 조처를 할 수 있습니다.</p>
	</article>

	<article class="document-block">
		<h3>3. 개인정보를 보호해야 합니다.</h3>
		<p>주최자는 참가자가 허용한 일부 개인정보(이름, 이메일, 전화번호, 구매한 티켓)를 확인할 수 있습니다. 이는 원활한 행사 진행을 위해 일시적으로 용인 된 것이므로, 필요한 때가 아니라면 개인정보 열람을 자제해야 합니다. 특히 개인정보를 파일이나 인쇄물로 보관 할 때는 각별히 주의 해야 하며, 행사가 종료 되면 사전에 동의 된 설문 결과를 제외한 회원 개인정보는 복구 불가능하게 파기해야 합니다. 주최자의 부주의로 인한 개인정보 유출 책임은 온전히 주최자에게 있으므로 유의하시기 바랍니다. 자세한 내용은 개인정보처리방침에 대한 자유광장 이용약관을 확인해 주세요.</p>
		<p>초상권 침해 등 프라이버시 문제가 있는 콘텐츠를 자유광장에 업로드 해서는 안 됩니다. 구성원의 얼굴이나 신원이 포함된 이미지를 업로드 할 때에는 당사자의 동의를 구하시기 바랍니다. 프라이버시 침해를 받았다고 생각될 경우에는 주최자에게 이의를 제기하거나 자유광장에 문의할 수 있습니다.</p>
	</article>

	<article class="document-block">
		<h3>4. 신뢰를 저버리지 않아야 합니다.</h3>
		<p>행사 정보는 실제 모임의 내용과 일치해야 합니다. 만약 자유광장에 올린 정보와 실제 모임의 내용이 상이하게 다른 경우 이는 사기행위가 될 수 있습니다. 게시글, 댓글 등의 콘텐츠 역시 가짜 내용으로 작성하면 안 됩니다. 또한 타인을 사칭하여 활동하면 안 됩니다.</p>
		<p>건강한 모임 문화의 기반은 신뢰성입니다. 따라서 자유광장은 신뢰성을 훼손하는 행위에 대해서 조처를 합니다.</p>
	</article>
</section>