@import '/src/common/styles/index.scss';

.item {
	display: inline-block;
	margin: 0 4px 5px 0;
	padding: 3px 6px;
	border: 1px solid #a9d5de;
	border-radius: 2px;
	background-color: #f8ffff;
	cursor: text;
	user-select: text;
	color: #276f86;
	font-size: $textSize - 3px;
	font-weight: lighter;
	transition: box-shadow .05s ease-in 0s;
	pointer-events: none;

	&.clickable {
		cursor: pointer;
		user-select: none;
		pointer-events: auto;

		&::after {
			margin-left: 2px;
			content: "ⅹ";
			color: #276f86;
			font-weight: bolder;
		}

		&:hover {
			box-shadow: #a9d5de 0 0 8px;
		}
	}
}